.conteudo .commentable-container .side-comment.has-comments .comments-wrapper,
.conteudo .commentable-container .side-comment .comments-wrapper {
  padding: 15px 0 0 0;
  border: 2px solid #999;
  width: 800px;
  left: -307px;
  z-index: 2;
  color: #222;
  border-radius: 0 0 10px 10px;
}
@-moz-document url-prefix() {
  .conteudo .commentable-container .side-comment.has-comments.active {
    height: 0;
}
}
.conteudo .commentable-container p.commentable-section.active {
  width: 100%; 
  margin-top: 33px;
  padding: 20px;
  border-left: 10px solid #999;
  color: #000;
}
.conteudo .commentable-container .side-comment {
  float: right;
  width: 501px;
  min-height: 100%;
  height: 100%;
}
.conteudo .commentable-container .side-comment .comment-box,
.conteudo .commentable-container .side-comment .comments .comment {
  border: none;
  width: 100%;
}
.conteudo .commentable-container .author-avatar IMG{
  border-radius: 20px;
  border:1px solid #666;  
}
.conteudo .commentable-container .comment-form .active{
  border-bottom: none;
} 
.conteudo .commentable-container .side-comment .author-name {
   padding-top: 9px;
}     
.conteudo .commentable-container .side-comment .comments-wrapper .comments li p {
  top: -7px;
  position: relative;
  z-index: -1;
}
.conteudo .commentable-container .side-comment.active {
  position: relative;
  top: 42px;
}

.conteudo .commentable-container .commentable-section span {
  display:block;
}
.conteudo .commentable-container .side-comment .right-of-avatar {
  width: calc(100% - 52px);
}
.side-comment.active .marker{display:none!important}

.side-comment .marker:hover{
  background:#FFBA07;
}
.side-comment .marker:hover:after{
border-color:#FFBA07 transparent
}
ul.comments {
  max-height: 500px;
  overflow: auto;
}
.side-comment .comment-form.active{padding-right:15px}

.conteudo .commentable-container .side-comment .right-of-avatar:focus{border:2px solid #4FAF62}
